<!DOCTYPE html>

<html>

    <head>
        <title>Error 404</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/icon.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h2>Error 404 - Page not found.</h2>
        </div>
        
        {{>footer}}
    </body>

</html>