<!DOCTYPE html>

<html>
    
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/icon.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p><b>APIs used:</b></p>
            <p>Mapbox</p>
            <p>Weatherstack</p>
        </div>

        

        
        {{>footer}}
    </body>

</html>