# macOS
.DS_Store

# IDE
.vscode/

# Java
target/
*.jar
*.class
pom.xml.asc

# Javascript
node_modules/

# Python
.venv/
__pycache__/

# Clojure
.calva/
.clj-kondo/
.lsp/
.cpcache/
.nrepl-port
.lein-deps-sum
.lein-repl-history
.lein-failures
.lein-plugins/

# MkDocs
/site/

# Lock files (as they add noise to the documentation)
yarn.lock
package-lock.json
pnpm-lock.yaml
Pipfile.lock
uv.lock
Cargo.lock
go.sum
poetry.lock
Gemfile.lock
composer.lock
