# macOS
.DS_Store

# IDE
.vscode/

# Java
target/

# Javascript
node_modules/

# Python
.venv/
__pycache__/

# Clojure
.calva/
.clj-kondo/
.lsp/
.cpcache/

# MkDocs
/site/

# Lock files (as they add noise to the documentation)
yarn.lock
package-lock.json
pnpm-lock.yaml
Pipfile.lock
uv.lock
Cargo.lock
go.sum
poetry.lock
Gemfile.lock
composer.lock

# Secrets
.env
