<header>
    {{!-- Retrive properties with {{ }} --}}
    <h1>{{title}}</h1>

    {{!-- a anchor --}}
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/weather">Weather</a>
</header>