<!DOCTYPE html>

<html>

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/icon.png">
    </head>

    <body>
        <!-- Div stands for Division -->
        <div class="main-content">
            {{>header}}
            <p>Welcome to my page!</p>
        </div>

        {{>footer}}
    </body>

</html>